<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.wizaord" level="info"/>
    <logger name="com.wizaord.boursycrypto.gdax.listener" level="INFO"/>
    <logger name="com.wizaord.boursycrypto.gdax.service.notify" level="INFO"/>
    <logger name="com.wizaord.boursycrypto.gdax.interceptor" level="INFO"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="javax.websocket" level="WARN"/>
    <logger name="org.eclipse.jetty" level="WARN"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
